<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rtvenoticias">

    <!--Para trabajar con un servidor externo es necesario incluir este permiso-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsertarNoticia"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".EliminarNoticia"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ListadoNoticias"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".FichaNoticia"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ServidorExterno"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>